body {
	font-family: 'Noto Serif', serif;
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.75em;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #666;
	line-height: 1.5em;
}

h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #666;
	line-height: 1.5em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	text-decoration: none;
}

h1 a strong,
h2 a strong,
h3 a strong,
h4 a strong,
h5 a strong,
h6 a strong {
	color: #333;
}

h2 {
	font-size: 2em;
	letter-spacing: -1px;
}

h2.alt {
	color: #888;
}

h2.alt strong {
	color: #666;
}

h3 {
	font-size: 1.5em;
	font-weight: 700;
}

h4 {
	font-size: 1em;
	font-style: italic;
}

strong,
b {
	font-weight: 300;
	color: #666;
}

em,
i {
	font-style: italic;
}

a {
	text-decoration: none;
	color: inherit;
	border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
	-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	outline: 0;
}

a:hover {
	color: #E27689;
	border-bottom-color: rgba(255, 255, 255, 0);
}


blockquote {
	border-left: solid 0.5em #ddd;
	padding: 1em 0 1em 2em;
	font-style: italic;
}


sub {
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

p {text-align:left;}